<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
<link rel="stylesheet" href="./memoStyle.css" />
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="../../resources/js/initdata.js"></script>
<script src="../../resources/js/webstorage-service.js"></script>
	<title> 컬러매모장 </title>

</head>
<body>
<div id="app" class="app">
    <div class="head" :style="bgColor">
        <nav class="top_nav" >
                <a href='#' class="add" v-on:click="write()" v-if="mode ==='list'" ><i class='fa fa-plus'></i></a>
                <a href='#' class="save" v-on:click="save()" v-if="mode ==='write'"><i class="far fa-save"></i></a>
                <a href='#' class="save" v-on:click="save()" v-if="mode ==='edit'"><i class="far fa-save"></i></a>
                <a href="#" class="get" v-on:click="list()" v-if="mode ==='write'"><i class="fa fa-list"></i></a>
                <a href="#" class="get" v-on:click="list()" v-else if="mode ==='edit'"><i class="fa fa-list"></i></a>
                <p class="colorbox"  v-if="mode=='write'">Choose to color : <input type="color"  id="color" v-model="bgColor.backgroundColor"/></p>
				<p  v-if="mode ==='list'" class="searchbox"><input v-model="search" v-on:keyup="filter" type="text" class="search"  placeholder="search.." ></p>
        </nav>
    </div>
    <div class="body"> 
		
        <div class="list" v-if="mode ==='list'">
            <ul  v-if="mode ==='list'"  v-for="m in memos">
                <a class="trash" v-on:click="remove(m.memoNo)" href="#none"><i class="fas fa-times del"></i></a> 
                <li  v-bind:style="m.color" v-show="m.filtered!=='y'"  v-on:click="open(m.memoNo)">
                <p class="memoInfo"><span>{{m.regNm}} | {{m.regId}}</span></p>
                <p class="memoCon"><span class="con">{{m.cont}}</span></p>
                <p class="regDate"><span>{{m.regDt}}</span></p>
                </li>
            </ul>	
        </div>
        <p class="statebox" v-if="mode ==='write'">writing..</p>
        <p class="statebox" v-if="mode ==='edit'">editing..</p>
        <div class="write" >
         <textarea name="txt" class="txt" v-model="memo.cont" :style="bgColor" v-if="mode === 'write'"></textarea>
         <textarea name="txt" class="txt" v-model="memo.cont" :style="bgColor" v-if="mode === 'edit'"></textarea>
        </div>
        
    </div>
</div>
<script>
        var memoApp = new Vue({
            el : '#app',
            data : {
                 memo : {
                   memoNo : null,
                   cont : null,
                   regNm : null,
                   regId : null,
                   regDt : null,
                   modNm : null,
                   modId : null,
                   modDt : null,
                   color : '#F4FA58'
                 }, 
                 bgColor: {
                   backgroundColor: '#F4FA58'
                 },
                mode : 'list',
				search : '',
                memos : [
                  {
                     /*  "memoNo" : 1,
                      "cont" : "첫번째메모",
                      "regNm" : "스터디박",
                      "regId" : "studypark",
                      "regDt" : "2019/4/15 am 6:30",
                      "modNm" : "",
                      "modId" : "",
                      "modDt" : "" */
                    }
                ] 
            },
             mounted() {
                /*   console.log('mounted', this.user);
                if (this.user != null) {
                    this.userId = this.user.userId;
                    this.userNm = this.user.userNm;
                    this.auth = this.user.auth;      
                }  */
                this.memo = this.memoService.findAll()
                console.log(this.memo);
            }, 
            methods : {
                renew : function(val){
                    return JSON.parse(JSON.stringify(val));
                },
                open  : function(id){
                    for(var i in this.memos){
                       // console.log(id);
                        if(this.memos[i].memoNo === id){
                            this.memo = this.renew(this.memos[i]);
                            break;
                        }
                    }

                    this.mode = 'edit';
                    console.log(this.mode);
                },

			    filter : function(){
					var isFiltered = false;
					
					var memoObj = {};
					for(var i=0; i< this.memos.length; i++){
						isFiltered = false;
						memoObj  = this.memos[i];
					
						if(!isFiltered && memoObj.cont.toUpperCase().indexOf(this.search.toUpperCase()) == -1){
							isFiltered = true;
						}
						if(isFiltered){
							memoObj.filtered = "y";
						}else{
							memoObj.filtered = "n";
						}
						
					}
				},
                write : function(){
                    this.mode = 'write';
                    this.memo.cont = null; 
                },
                save : function(){

				  
                    if(this.mode==='write'){
                        if(this.memo.cont == null){
						alert("메모를 작성해주세요");
					}
                    var id = this.memos.length+1;
                    var d = new Date();
                    var ampm = null;
                    if(d.getHours() >= 12){
                        ampm = "pm";
                    }else{
                        ampm = "am";
                    }
                    if(d.getMinutes()<10){
                        var minute = "0"+d.getMinutes();
                    }else{
                        var minute = d.getMinutes();
                    }
                    if(d.getSeconds()<10){
                        var seconds = "0"+d.getSeconds();
                    }else{
                         var seconds = d.getSeconds();
                    }
                    var time = d.getFullYear()+"/"+(d.getMonth()+1)+"/"+d.getDate()+" "+ampm+" "+d.getHours()+":"+minute;
                    var color = document.getElementById("color").value;
                                if(this.memo.cont != null){
                                    var msg = confirm('저장하시겠습니까?');
                                        if(msg){
                                            this.memos.push({
                                            memoNo: id,
                                            cont: this.memo.cont,
                                            regDt : time,
                                            regNm : '스터디박',
                                            regId : 'studypark',
                                            color : 'background-color:'+color
                                        });
                                      
                                    }else{
                                        this.memo.cont = null;    
                                        this.mode = 'list';
                                        return;
                                    
                                    }
                                
                                }
                    }else if(this.mode==='edit'){
                      //  alert("edit");
                        for(var i in this.memos){
                            if(this.memos[i].memoNo=== this.memo.memoNo){
                                this.memos[i] = this.renew(this.memo);
                                break;
                            }
                        }
                    }
                    localStorage.setItem('memos',JSON.stringify(this.memos));
                    location.reload();
                    this.mode = 'list';
                                    
                },
                list : function(){
                    this.mode = 'list';
                },
                remove : function(id){
                        if(confirm('삭제하시겠습니까?')){
                   
                        for(var i in this.memos){
                        // console.log(id);
                            if(this.memos[i].memoNo === id){
                               this.memos.splice(i,1);
                                break;
                            }
                        }
                     }
                     this.mode = 'list';
                        localStorage.setItem('memos',JSON.stringify(this.memos));
                    // location.reload();
                       
               }
                
           
            },	
            created : function(){
                this.mode = 'list';
                var memos = localStorage.getItem('memos');
                if(memos){
                    this.memos = JSON.parse(memos);
                }
               
            }
        });
    </script>
</body>
</html>